// Variables
@import "variables";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//compass
@import "node_modules/compass-mixins/lib/_compass.scss";

@import "type";
@import "layout";
@import "auction";
@import "golf-tournament";

button, .btn{ border-radius: 0; background: transparent; color: #fff; }

#fullpage{
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 50px;
}

.slide{

}

.section{
    background-size: cover;
    background-position: center 80%;
}

#section1 {
    background-image: url('/images/backgrounds/1.jpg');
}

#slide2-1{
    background-image: url('/images/backgrounds/2.jpg');
}

#slide2-2{
    background-image: url('/images/backgrounds/3.jpg');
}

#section3{
    background-color: red;
}

#section4{

}

#section5{
    background-image: url('/images/backgrounds/AAAKids-Soccer.jpg');
}
