.auction *{
    color: #333;
    font-weight: normal;
}

.auction .item{
    border-bottom: 1px solid #ccc;
}
.auction strong{
    font-weight: bold;
}

.auction a{
    color: #00c;
}

.current-bid-price{
    padding: 0px 0px 5px 0px !important;
    font-weight: 400;
    font-size: 28px;
}

.auction .item-title{
    font-weight: bold;
}

.auction-items {
    padding: 20px 0px;
}

.auction-items .row{
    padding: 10px 0px;
}
.grey{
    background-color: #fcfcfc;
}
