.tournament-container p{
  font-size: 12px;
  margin: 20px;
  &.related{
    text-transform: uppercase;
    font-weight: 700;
    color: #444;

    .tournament-container a{
      font-weight: 700;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
